@use '../variables' as *;

/*This is for the logo*/
.leftSidebar {
  border: 0px;
  border-right: 1px solid rgb(var(--v-theme-borderLight)) !important;
  transition: all 0.3s ease;
  background: rgb(var(--v-theme-surface)) !important;

  .logo {
    padding-left: 7px;
  }

  .v-list-subheader {
    color: rgb(var(--v-theme-darkText)) !important;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 20px;
    opacity: 0.9;
  }

  .v-list-item {
    color: rgb(var(--v-theme-lightText)) !important;
    margin: 4px 12px !important;
    border-radius: 12px !important;
    transition: all 0.3s ease;
    
    .v-list-item-title,
    .v-list-item-subtitle,
    .v-list-item__prepend,
    .v-list-item__append,
    .v-list-group__header,
    .v-list-item__spacer,
    .text-caption {
      color: rgb(var(--v-theme-lightText)) !important;
    }

    .pc-icon {
      color: rgb(var(--v-theme-lightText)) !important;
    }

    // Ensure the expand/collapse arrow
    .v-list-group__header .v-list-item__append .v-icon {
      color: rgb(var(--v-theme-lightText)) !important;
    }

    &.v-list-item--active {
      background: rgb(var(--v-theme-primary), 0.1) !important;
      color: rgb(var(--v-theme-primary)) !important;

      .v-list-item-title,
      .v-list-item-subtitle,
      .pc-icon,
      .v-icon {
        color: rgb(var(--v-theme-primary)) !important;
        opacity: 1;
      }

      .pc-icon {
        transform: scale(1.1);
      }
    }

    &:hover:not(.v-list-item--active) {
      background: rgb(var(--v-theme-primary), 0.05) !important;
      color: rgb(var(--v-theme-primary)) !important;
      transform: translateX(5px);

      .v-list-item-title,
      .v-list-item-subtitle,
      .pc-icon,
      .v-icon {
        color: rgb(var(--v-theme-primary)) !important;
        opacity: 1;
      }
    }
  }

  // Handle nested items
  .v-list-group__items {
    .v-list-item {
      &::before {
        background-color: rgb(var(--v-theme-lightText)) !important;
      }
      &.v-list-item--active::before {
        background-color: rgb(var(--v-theme-primary)) !important;
      }
    }
  }

  // Scrollbar styling
  .scrollnavbar {
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(var(--v-theme-primary), 0.2);
      border-radius: 10px;
    }
  }
}
/*This is for the Vertical sidebar*/
.scrollnavbar {
  height: calc(100vh - 79px);
  .v-list-subheader {
    font-weight: 600;
  }
  .pc-icon {
    width: 20px;
    height: 20px;
  }
  .v-list {
    color: rgb(var(--v-theme-lightText));
    padding: 0;
    .v-list-item--one-line {
      &.v-list-item--active {
        .text-lightText {
          color: rgb(var(--v-theme-primary)) !important;
        }
      }
    }
    .v-list-group {
      .v-list-item--one-line {
        &.v-list-item--active.v-list-item--link {
          .v-list-item__overlay {
            background: transparent;
          }
        }
        &.v-list-item--active.v-list-group__header {
          border-right: none;
        }
      }
      .v-list-group__items {
        .v-list-item--link,
        .v-list-item {
          &::before {
            position: absolute;
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: rgb(var(--v-theme-lightText));
            left: 30px;
          }
          &.v-list-item--active {
            &::before {
              width: 6px;
              height: 6px;
              background-color: rgb(var(--v-theme-primary));
            }
          }
          .v-list-item__prepend {
            width: 0;
          }
        }
        .v-list-group__items {
          .v-list-item--link,
          .v-list-item {
            &::before {
              left: 45px;
            }
          }
          .v-list-item__prepend {
            margin-inline-end: 0;
          }
        }
      }
    }
  }
  /*General Menu css*/
  .v-list-group__items .v-list-item,
  .v-list-item {
    border-radius: 8px;
    padding-inline-start: calc(20px + var(--indent-padding) / 2) !important;
    margin-bottom: 2px;
    .v-list-item__prepend {
      margin-inline-end: 13px;
    }
    .v-list-item__append {
      font-size: 0.875rem;
      .v-icon {
        margin-inline-start: 13px;
      }
      > .v-icon {
        --v-medium-emphasis-opacity: 0.8;
        font-size: 17px;
      }
    }
    .v-list-item-title {
      font-size: 0.875rem;
      color: rgb(var(--v-theme-lightText));
    }
    &.v-list-item--active {
      .v-list-item-title {
        color: rgb(var(--v-theme-primary));
      }
    }
  }
  /*This is for the dropdown*/
  .v-list {
    .v-list-item--active {
      .v-list-item-title {
        font-weight: 500;
      }
    }
    .sidebarchip .v-icon {
      margin-inline-start: -3px;
    }
    .v-list-group {
      .v-list-item:focus-visible > .v-list-item__overlay {
        opacity: 0;
      }
    }
    > .v-list-group {
      position: relative;
      > .v-list-item--active,
      > .v-list-item:hover {
        background: rgb(var(--v-theme-primary), 0.05);
      }
    }
  }
}
.v-navigation-drawer--rail {
  .scrollnavbar .v-list .v-list-group__items,
  .hide-menu {
    opacity: 0;
  }
  .scrollnavbar {
    .v-list-item {
      .v-list-item__prepend {
        margin-left: 12px;
        .anticon {
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .v-list-group__items .v-list-item,
    .v-list-item {
      padding-inline-start: calc(12px + var(--indent-padding) / 2) !important;
    }
    .ExtraBox {
      display: none;
    }
    .pc-icon {
      width: 24px;
      height: 24px;
    }
  }
  .sidebar-user {
    margin-left: -6px;
  }
  .leftPadding {
    margin-left: 0px;
  }
  &.leftSidebar {
    .v-list-subheader {
      display: none;
    }
    .v-navigation-drawer__content {
      .pa-5 {
        padding-left: 10px !important;
      }
    }
  }
}
@media (min-width: 1280px) {
  .verticalLayout:not(.component-wrapper) {
    &.mini-sidebar {
      .v-list-item {
        .v-list-item__content {
          min-width: 0px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1170px) {
  .mini-sidebar {
    .logo {
      overflow: hidden;
      svg {
        width: 52px;
      }
    }
    .leftSidebar:hover {
      box-shadow: $box-shadow !important;
    }
    .v-navigation-drawer--expand-on-hover:hover {
      .logo {
        width: 100%;
      }
      .v-list .v-list-group__items,
      .hide-menu {
        opacity: 1;
      }
    }
  }
}
